header {  
    width: 100%;
    height: 60px;
    color: white;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 210px;

}
header:hover {
    background-color: white;
    border-bottom: 1px solid #e7e7e7;
}
header:hover a {
    color: #000
}
header:hover .logo h1 {
    background-image: url(../images/logo.png);
}

header a {
    color: white;
}

header nav {
    display: flex;
    justify-content: space-between;
    margin: 0 210px;
    line-height: 60px;
}

header .logo h1 {
    background-image: url(../images/logo2.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 154px;
    height: 32px;
}

header nav .logo img {
    vertical-align: -10px;
}

header nav .depth1 {
    display: flex;
    height: 60px;
}

header nav .depth1 li {
    width: 150px;
    text-align: center;
}

header nav .depth1 li a {
    padding: 20.5px 47px;
}
header nav .depth1>li:hover {
    border-bottom: 2px solid #0AB481;
}
header nav .depth1 li .depth2 {
    position: absolute;
    top: 60px;
    z-index: 10;
    display: none;
}
header nav .depth1>li.show .depth2 {
    display: block;
}
/* header nav .depth1>li:hover~li .depth2 {
    display: block;
} */
header nav .depth1>li:hover .nav-bg {
    display: block;
}
header nav .depth1 li .depth2 {
    height: 180px;
    background-color: white;
}

header nav .depth1 li .depth2 li {
    line-height: 2em;
}
header nav .depth1 li .depth2 li a:hover {
    color: #0AB481;
}

header nav .depth1 li .depth2 li a {
    text-align: center;
    padding: 8px 31.5px;
    color: #000;
}

header nav .depth1 li .depth2 li:first-child {
    padding-top: 15px;
}

header .icon img:nth-child(1) {
    vertical-align: -10px;
}

header .icon img:nth-child(2) {
    vertical-align: -5px;
    padding-left: 15px;
}

header nav .nav-bg {
    width: 100vw;
    height: 180px;
    background-color: white;
    position: absolute;
    top: 60px;
    left: 0;
    display: none;
}

footer {
    width: 100vw;
    height: 691px;
    background-color: #262626;
    padding: 100px 210px 125px;
    color: #C4C4C4;
}

footer a {
    color: #C4C4C4;
}

footer .depth1 {
    font-size: 15px;
    padding-top: 50px;
    display: flex;
}

footer .depth1 .depth2 {
    font-size: 13px;
    padding-top: 30px;
    padding-right: 96px;
}

footer .depth1 .depth2 li {
    padding-bottom: 8px;
}
footer p {
    color: #C4C4C4;
}
footer .clause {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    width: 1500px;
    height: 77px;
    margin-bottom: 24px;
    border-bottom: 1px solid #C4C4C4;
}
footer .clause div {
    display: flex;    
    align-items: center;
}
footer .clause a {
    padding-right: 50px; 
    font-size: 24px;
}
footer .clause div > p {
    padding-right: 40px;   
    font-size: 14px;
}
footer .clause .language>p {
    padding-right: 22px;
}
footer .address p:first-child {
    margin-top: 35px;
}
footer .address p {
    padding-bottom: 8px;
}
