section .sub-banner {
    width: 1920px;
    height: 380px;
    background-image: url(../images/subpagebanner1.png);
    background-repeat: no-repeat;
    background-size: cover;
}
section .sub-nav {
    height: 57px;
    background-color: #ccc;
    padding: 0 210px;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

#page_name{
    height: 2000px;
}